.why{
    width:90%;
    margin:80px auto;
}

.why-heading{
    text-align:center;
    margin-bottom:50px;
}

.why-heading h2{
    font-size:38px;
    color:#1d3557;
    margin-bottom:10px;
}

.why-heading p{
    color:#666;
    font-size:17px;
}

.why-container{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
}

.why-card{
    background:#fff;
    border-radius:15px;
    padding:35px 25px;
    text-align:center;
    box-shadow:0 8px 20px rgba(0,0,0,.08);
    transition:.3s;
}

.why-card:hover{
    transform:translateY(-10px);
}

.icon{
    font-size:50px;
    color:#2563eb;
    margin-bottom:20px;
}

.why-card h3{
    color:#1d3557;
    margin-bottom:15px;
}

.why-card p{
    color:#666;
    line-height:1.7;
}