.navbar {
  height: 70px;
  background: white;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 30px;

  border-bottom: 1px solid #e5e7eb;
}

.page-title {
  font-size: 24px;
  color: #222;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.notification-btn {
  width: 42px;
  height: 42px;

  border: none;
  border-radius: 50%;

  background: #f3f4f6;

  cursor: pointer;

  font-size: 18px;
}

.notification-btn:hover {
  background: #e5e7eb;
}

.profile {
  display: flex;
  align-items: center;
  gap: 12px;
}

.profile-icon {
  font-size: 42px;
  color: #3b82f6;
}

.profile h4 {
  margin: 0;
  font-size: 15px;
}

.profile p {
  margin: 0;
  color: gray;
  font-size: 13px;
}